
.title {
    width: 100%;
    height: 80vh;
    background: rgb(75, 54, 94);
    color: white;
    font-size: 30px;
}

.display {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}